Repository bradjohnson79/magi: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc, semgrep, prisma-validate, package-json-lint, env-validation, detect-secrets, migration-check, dockerfile-lint, ai-security-check

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|md|yml|yaml)$
  tsc: any of: \.(ts|tsx)$
  semgrep: any of: \.(js|jsx|ts|tsx)$
  prisma-validate: any of: ^prisma/schema\.prisma$
  package-json-lint: any of: ^package\.json$
  env-validation: any of: ^\.env.*$
  detect-secrets: any of: \.(js|jsx|ts|tsx|json|yml|yaml)$
  migration-check: any of: ^prisma/migrations/.*\.sql$
  dockerfile-lint: any of: ^Dockerfile.*$
  ai-security-check: any of: \.(js|jsx|ts|tsx)$

Fix vercel.json configuration conflict
  vercel.json
Due: prettier, detect-secrets

Remove env section from vercel.json
  vercel.json
Due: prettier, detect-secrets

Fix Prisma client generation for Vercel deployment
  package.json
  vercel.json
Due: prettier, package-json-lint, detect-secrets

Fix missing dependencies and import paths
  package.json
  pnpm-lock.yaml
  services/workspace/manager.ts
Due: eslint, prettier, tsc, semgrep, package-json-lint, detect-secrets, ai-security-check

Make build bulletproof for Vercel deployment
  eslint.config.mjs
  lib/observability/otel.ts
  logs/magi-dev-0.log
  logs/magi-dev-error-0.log
  logs/magi-dev-out-0.log
  next.config.ts
  package.json
  pnpm-lock.yaml
  services/tracing/setup.ts
Due: eslint, prettier, tsc, semgrep, package-json-lint, detect-secrets, ai-security-check

Fix ESLint no-explicit-any & no-unused-vars in utils
  lib/types/security.ts
  lib/utils/encryption.ts
  lib/utils/secretRedaction.ts
Due: eslint, prettier, tsc, semgrep, detect-secrets, ai-security-check
